{#
/**
 * @file
 * Default theme implementation for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 *
 * @ingroup themeable
 */
#}
{% if attributes.type == 'submit' %}
  <input {{ attributes.addClass('btn', 'btn-primary') }} />{{ children }}
{% else %}
  <input {{ attributes.addClass('form-control') }} />{{ children }}
{% endif %}