#header {
	padding: 2em;
}

#header img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

#headline {
    padding: 2em;
    text-align: center;
    background-color: #5271ff;
    color: white;
}

#block-efichajestheme-workermenu {
    padding: 2em;
}

#content {
	padding: 2em;
}

#content h2 {
	padding: 1em 0 0.5em 0;
}

#footer {
	background-color: #5271ff;
	border-top: 0.35em solid #ffbd4a;
	padding: 1em;
}

#footer h2 {
	color: white;
}

#footer-bottom {
	padding: 1em;
	background-color: #ffbd4a;
}

#footer-bottom p {
	margin: 0;
}
